.md-grid {
    max-width: none;
}

/* Custom CSS to make headers actually STAND OUT. */
.md-typeset h1 {
	font-size: 1.8em;
	color: currentColor;
	font-weight: 600;
	letter-spacing: -0.01em;
	line-height: 1.3;
	margin: 0 0 1.25em;
	border-bottom: 5px solid;
}

.md-typeset h2 {
	font-size: 1.55em;
	line-height: 1.5;
	margin: 1.6em 0 .64em;
	font-weight: bolder;
	border-bottom: 3px solid;
}

.md-typeset h3 {
	font-size: 1.25em;
	font-weight: bolder;
	letter-spacing: -0.01em;
	line-height: 1.5;
	margin: 1.6em 0 .8em;
	border-bottom: 1px solid;
}

.md-typeset h4 {
	color: inherit;
	border-bottom: 1px dotted;
	font-size: 1.15em;
	font-weight: bold;
}

.md-typeset h5 {
	color: inherit;
	border-bottom: 1px dashed;
	font-size: 1.05em;
	text-transform: initial;
}

.md-typeset h6 {
	font-size: 0.95em;
	border-bottom: 1px dashed;
}
